package main

import (
	"github.com/jovandeginste/medisana-bs/plugins"
	"github.com/jovandeginste/medisana-bs/structs"
	"time"
)

// These are hard coded for now
const device = "default"
const scanDuration = 60 * time.Second
const deviceID = "AA:BB:CC:DD:EE:FF" // The MAC address of your scale
const sub = 60 * time.Second
const time_offset = 1262304000 // For BS410
// const time_offset = 0 // For BS440

const MaxInt = 2147483647

var allPlugins = structs.Plugins{
	"mail": plugins.Mail{
		Server:        "localhost:25",                   // Set your own smtp server
		SenderName:    "The Scale",                      // Name displayed by your mail client
		SenderAddress: "your.address+scale@example.org", // Address where to send the mail from
		TemplateFile:  "templates/mail/default.html",    // Add your own template in templates/custom/
		Subject:       "New results",                    // Subject
		Metrics:       3,
		Recipients: map[int]structs.MailRecipient{ // List of all recipients; the number is the person's id on the scale
			1: structs.MailRecipient{
				Name:    "Her Name",
				Address: []string{"her.name@example.org"},
			},
			2: structs.MailRecipient{
				Name:    "His Name",
				Address: []string{"his.name@example.org"},
			},
		},
	},
	"csv": plugins.Csv{
		Dir: "./csv",
	},
}
