<p>Beste {{.Name}},</p>
<p>Je hebt zojuist op de weegschaal gestaan.</p>
<p>Dit is een overzicht van je laatste {{ len .Metrics }} metingen:</p>

<table style="width: 100%; border: 1px solid black;">
	<tr>
		<th style="text-align: center; color: white; background-color: black; padding: 5px; border: 1px solid black;">Datum</th>
		<th style="text-align: center; color: white; background-color: black; padding: 5px; border: 1px solid black;">Gewicht (kg)</th>
		<th style="text-align: center; color: white; background-color: black; padding: 5px; border: 1px solid black;">Vet (%)</th>
		<th style="text-align: center; color: white; background-color: black; padding: 5px; border: 1px solid black;">Spieren (%)</th>
		<th style="text-align: center; color: white; background-color: black; padding: 5px; border: 1px solid black;">Botten (kg)</th>
		<th style="text-align: center; color: white; background-color: black; padding: 5px; border: 1px solid black;">Water (%)</th>
		<th style="text-align: center; color: white; background-color: black; padding: 5px; border: 1px solid black;">kCal</th>
		<th style="text-align: center; color: white; background-color: black; padding: 5px; border: 1px solid black;">BMI</th>
	</tr>
	{{ range $key, $metric := .Metrics }}
	<tr style="background-color: #fff;">
		<td style="text-align: right; padding: 5px; border: 1px solid black;">{{ .Annotations.Time.Format "02/01/06 15:04" }}</td>
		<td style="text-align: right; color: {{if le .Annotations.DeltaWeight 0.0}}green{{else}}red{{end}}; padding: 5px; border: 1px solid black;">{{ .BodyMetric.Weight }}</td>
		<td style="text-align: right; color: {{if le .Annotations.DeltaFat 0.0}}green{{else}}red{{end}}; padding: 5px; border: 1px solid black;">{{ .BodyMetric.Fat }}</td>
		<td style="text-align: right; color: {{if ge .Annotations.DeltaMuscle 0.0}}green{{else}}red{{end}}; padding: 5px; border: 1px solid black;">{{ .BodyMetric.Muscle }}</td>
		<td style="text-align: right; color: {{if ge .Annotations.DeltaBone 0.0}}green{{else}}red{{end}}; padding: 5px; border: 1px solid black;">{{ .BodyMetric.Bone }}</td>
		<td style="text-align: right; color: {{if ge .Annotations.DeltaTbw 0.0}}green{{else}}red{{end}}; padding: 5px; border: 1px solid black;">{{ .BodyMetric.Tbw }}</td>
		<td style="text-align: right; color: {{if le .Annotations.DeltaKcal 0}}green{{else}}red{{end}}; padding: 5px; border: 1px solid black;">{{ .BodyMetric.Kcal }}</td>
		<td style="text-align: right; color: {{if le .Annotations.DeltaBmi 0.0}}green{{else}}red{{end}}; padding: 5px; border: 1px solid black;">{{ .BodyMetric.Bmi }}</td>
	</tr>
	{{ end }}
</table>

<p>Meer gegevens vind je <a href="https://scale.dwarfy.be/?p={{ .PersonID }}">hier</a></p>
<br/>
<p>Groeten,</p>
<p>De weegschaal.</p>
